
.xz-se-gradient-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left:0;
    z-index: 10;
    background: -webkit-linear-gradient(top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, .6) 30%,
    rgba(255, 255, 255, .0) 50%,
    rgba(255, 255, 255, .6) 70%,
    rgba(255, 255, 255, 1) 100%);
}



